@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 0;
    margin: 0;
    font-family: 'Figtree', monospace;
    background-color: #ffffff;
    color: #000000;
}

* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Figtree";
    src: url("./assets/fonts/Figtree-Regular.ttf");
}